.style-0 {
  overflow:hidden;
  margin-bottom:2rem;
}

.style-1 {
  float:right;
  margin:0 0 1.5rem 2rem;
  width:45%;
  min-width:260px;
}

.style-2 {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:1rem;
  margin:2rem 0;
}

.style-3 {
  overflow:hidden;
  margin:2.5rem 0 2rem;
}

.style-4 {
  float:left;
  margin:0 2rem 1.5rem 0;
  width:48%;
  min-width:260px;
}

.style-5 {
  margin-top:1rem;
  display:flex;
  flex-direction:column;
  gap:.5rem;
}

.style-6 {
  font-size:.88rem;
  cursor:pointer;
}

.style-7 {
  font-size:.88rem;
  cursor:pointer;
}

.style-8 {
  cursor:pointer;
}

.style-9 {
  cursor:pointer;
}

